.rd-navbar-default.rd-navbar-light.rd-navbar-static .rd-navbar-nav > li a, .rd-navbar-floated.rd-navbar-light.rd-navbar-static .rd-navbar-nav > li a, .rd-navbar-top-panel.rd-navbar-light.rd-navbar-static .rd-navbar-nav > li a {
    color: #447595;
    font-size: 14px;
}

.rd-navbar-default.rd-navbar-fixed .rd-navbar-nav li a, .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav li a, .rd-navbar-sidebar-fixed .rd-navbar-nav li a, .rd-navbar-floated.rd-navbar-fixed .rd-navbar-nav li a, .rd-navbar-top-panel.rd-navbar-fixed .rd-navbar-nav li a, .rd-navbar-default.rd-navbar-fixed .responsive-tabs .resp-accordion, .rd-navbar-sidebar-toggle.rd-navbar-fixed .responsive-tabs .resp-accordion, .rd-navbar-sidebar-fixed .responsive-tabs .resp-accordion, .rd-navbar-floated.rd-navbar-fixed .responsive-tabs .resp-accordion, .rd-navbar-top-panel.rd-navbar-fixed .responsive-tabs .resp-accordion, .rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-default.rd-navbar-static .rd-navbar-dropdown li > a, .rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown li > a, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-dropdown li > a, .rd-navbar-default.rd-navbar-static .rd-navbar-megamenu li > a, .rd-navbar-floated.rd-navbar-static .rd-navbar-megamenu li > a, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-megamenu li > a {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li + li, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li + li, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li + li {
    margin-left: 20px;
}
.rd-navbar-top-panel.rd-navbar-static .rd-navbar-menu-wrap {
    float: left;
    
}
.button-header {
    position: absolute;
    right: 0;
}

/* header mobile */
.rd-navbar-default.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-sidebar-toggle.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-sidebar-fixed.rd-navbar-light .rd-navbar-nav li.opened > a, .rd-navbar-floated.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-top-panel.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-default.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-sidebar-toggle.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-sidebar-fixed.rd-navbar-light .rd-navbar-nav li.active > a, .rd-navbar-floated.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-top-panel.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li.active > a {
    color: #fff;
    background: #7983a7;
}

.rd-navbar-fixed.rd-navbar-top-panel .rd-navbar-top-panel {
    position: fixed;
    right: 4px;
    top: 50px;
    width: 100%;
    padding: 20px;
    z-index: 17;
    overflow: hidden;
    transition: box-shadow .3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 480px) {
	.rd-navbar-default.rd-navbar-fixed .rd-navbar-brand, .rd-navbar-floated.rd-navbar-fixed .rd-navbar-brand, .rd-navbar-top-panel.rd-navbar-fixed .rd-navbar-brand {
    display: block;
    position: fixed;
    top: 5px;
    left: 50%;
    width: auto;
	}
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
}
.star {
    float: right;
    font-size: 11px;
    color: orange;
}
.gambar-produk {
    width: 100%;
}
.contents {
    min-height: 500px;
}
.text-title-produk{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    display: block;
}

.text-title-produk small {
    font-size: 13px;
}

.text-muted {
    color: #b0aaaa !important;
}
p, .p, .list {
    /*margin-top: 8px;*/
    margin-bottom: 8px;
}
h5, .h5 {
    margin-top: 9px;
    margin-bottom: 9px;
    line-height: 1.22727;
    font-size: 22px;
}
.mb-minus-40 {
	margin-bottom: -40px;
}
.mb-minus-10 {
    margin-bottom: -10px;
}
.mt-minus-40 {
    margin-top: -40px;
}
.p-all-5 {
	padding: 5px;
}
.min-hight-300 {
    min-height: 400px;
}

/* modal */
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 2px;
}

.img-constraint {
    width: 260px;
    height: 173px;
    overflow: hidden;
}
.slick-next , .slick-prev{
    right: -25px;
    background-color: #abcc37;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 12px;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color:#fff;
    border: 1px solid #fffdfd;
    border-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}

/* card produk  */
.img-cover{
    width: 100%;
    height: 90px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .img-cover{
        width: 100%;
        height: 80px;
        overflow: hidden;
    }
}
.img-cover img{
    width: 100%;
    /*min-height: 60px; */
}
.padding-produk {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
@media (max-width: 600px) {
    .padding-produk {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
}
.card-header {
    padding: 0.75rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(25, 25, 25, 0.125);
}

/* card info pelatihan */
.card-pelatihan{
    width: 100%;
    height: 120px;
    overflow: hidden;
    background-color: #eee;
}

@media (max-width: 600px) {
    .card-pelatihan{
        width: 100%;
        /*height: 280px;*/
        overflow: hidden;
    }
}
.card-pelatihan img{
    width: 100%;
    /*min-height: 260px; */
}
.text-title-pelatihan p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    display: block;
}
.text-ellipsis {
    color: var(--N700,rgba(49,53,59,0.96));
    font-size: 0.86rem;
    line-height: 1.5;
    max-width: 100%;
    max-height: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
}
.height-100 {
    height: 70px;
    overflow: hidden; 
}
.min-height-50 {
  min-height: 40px;  
}
.min-height-100 {
    min-height: 100px; 
}
.min-height-200 {
    min-height: 200px; 
}
.min-height-300 {
    min-height: 300px; 
}
.min-height-400 {
    min-height: 400px; 
}
.text-10 {
    font-size: 12px;
}
/* image pop up info pelatihan */
.pop-overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: 0.5s;
    text-align: center;
    padding: 50px 0 0 0;
}
.pop-overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}
.pop-overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}
.pop-overlay:target img {
    animation: zoomfade 1s;
}
.pop-overlay .close {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -20px;
    color: white;
    font-size: 15px;
    animation: zoomfade .10s;
}

/* Box Galeri  */
.box-galeri {
    width: 100%;
    column-count: 4;
    margin: 0 auto;
}
@media (max-width: 500px) {
   .box-galeri {
        column-count: 2;
    } 
}
.grid-item img {
    width: 100%;
    height: auto;
    margin: 0.6em 0;
}
.grid-item img:hover {
    opacity: 0.8;
}
/*.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }*/

.btn-secondary {
    color: #212529;
    background-color: #eee;
    border-color: #ddd;
}

.btn-secondary:hover {
    color: #212529;
    background-color: #ddd;
    border-color: #4bbaed;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(121, 204, 242, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #212529;
    background-color: #79ccf2;
    border-color: #79ccf2;
}
.btn-xs {
    padding: 3px 9px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 3px;
    border-width: 1px;
}
.box-products .box-products-inner {
    margin-top: 4px;
}
.shadow {
    box-shadow: 0 2px 6px rgba(49,53,59,0.12) !important;
}
.divider {
    margin: 5px auto 7px;
}
/* animasi */
@keyframes zoomfade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* Detail Produk  */

